<!DOCTYPE html>
<html>
    <head>
        <title>
            Sentiment Analyser
        </title>
    </head>
    <body>
        <h3>
            Sentiment Analysis in Twitter and Reddit
        </h3>
        <p>
            Please enter the keyword whose sentiment summary is to be found<br>
            <form action="/hello" method="post" border = "10">
                Keyword: <input type="text" name="keyword">  <br/><br/><br/>
                <input type="submit" name= "form" value="Find Sentiment summary" />
            </form>
        </p>
    </body>
</html>
